.nav-link {
  text-decoration: none;
  color: #111;
  display: inline-block;
  white-space: nowrap;
  margin: 0;
  /* margin-left: 1rem; */
  transition: all 200ms ease-in;
  position: relative;
  /* font-family: "mulish"; */
}
.nav-link:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0%;
  content: ".";
  color: transparent;
  background: rgb(46, 131, 87, 1);
  height: 2px;
  transition: all 0.4s ease-in;
}

.nav-link:hover {
  color: rgb(46, 131, 87, 1);
}
.nav-link:hover:after {
  width: 100%;
}
